.checkout-payment {
    border: 1px solid #e9e9e9;
    margin-top: 20px;

    h3 {
        padding: 15px;
        background: #f4f4f4;
        font-size: 20px;
    }

    .ant-list-item {
        padding: 12px;
    }

    .btn-checkout {
        display: flex;
        margin: 0 12px 15px auto;
        justify-content: center;
    }
}