.checkout {
    &-page {
        margin-top: 118px;
        overflow: hidden;
        background: #fff;
    }

    &-step {
        margin-top: 30px;
        margin-bottom: 70px;

        .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
            color: #EE4D2D;
        }

        .ant-steps-item-custom.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
            color: #EE4D2D;
        }

        .ant-steps-item-container:hover, .ant-steps-item:hover {
            color: #EE4D2D;
        }

        .ant-steps .ant-steps-item:not(.ant-steps-item-active):not(.ant-steps-item-process) > .ant-steps-item-container[role='button']:hover .ant-steps-item-icon .ant-steps-icon {
            color: #EE4D2D;
        }

        .ant-steps .ant-steps-item:not(.ant-steps-item-active) > .ant-steps-item-container[role='button']:hover .ant-steps-item-title, .ant-steps .ant-steps-item:not(.ant-steps-item-active) > .ant-steps-item-container[role='button']:hover .ant-steps-item-subtitle, .ant-steps .ant-steps-item:not(.ant-steps-item-active) > .ant-steps-item-container[role='button']:hover .ant-steps-item-description {
            color: #EE4D2D;
        }

        .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
            background-color: #EE4D2D;
        }
    }
}