.product-desc {
    padding: 25px;

    &-title {
        background: #FAFAFA;
        padding: 15px;
        text-transform: uppercase;    
    }

    &-content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
        padding: 25px 25px 0 25px;
        line-height: 1.8;
    }

    &-specifi {
        display: table;
        width: 100%;
        padding: 16px;
    }

    &-row {
        display: table-row;
        color: #333;
    }

    &-item {
        display: table-cell;
        padding-bottom: 12px;

        &:first-child {
            width: 140px;
            color: #9F9F9F;
        }
    }
}