.shopee-breadcrum {
    margin-top: 20px;

    .ant-breadcrumb {
        a {
            color: #333 !important;
        }

        .anticon {
            font-size: 12px;
            color: #333 !important
        }
    }
}