.checkout {
    &-address {
        border: 1px solid #e9e9e9;
        margin-top: 20px;

        h3 {
            padding: 15px;
            background: #f4f4f4;
            font-size: 20px;
        }

        #form-shipping {
            padding: 0 15px;

            .ant-form-item-label {
                text-align: left;
            }

            

            .ant-radio-checked .ant-radio-inner {
                border-color: #EE4D2D;
                
                &:after {
                    background-color: #EE4D2D;
                }
            }

            .ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner {
                border-color: #EE4D2D;
            }
        }
    }

    &-form {
        .btn-checkout {
            width: 148px;
            height: 40px;
            background: #EE4D2D;
            color: #fff;
            font-size: 16px;

            &:hover, &:focus {
                border-color: #EE4D2D;
            }
        }
    }
}